html {
    scroll-behavior: smooth;}
.nav-item .nav-link,
.navbar-nav .nav-item,
.collapse navbar-collapse .nav {
  font-family: "Roboto Flex";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 21px;
  text-transform: uppercase;
}
/* .navbar-part {
  margin-left: 100px;
  justify-content: center;
  padding-left: 40px;
  margin-right: auto;
} */
.my-input-form2{
  border:1px solid #ccc;
}
.modal-content {
  border: 1px solid black;
}

.user:focus{
  border:none;
}


.dropdown-menu
.dropdown-link:active{
  background-color: black;}

.my-input-form2:focus {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.dropdown-menu .dropdown-item {
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 21px;
  text-transform: uppercase;
}

.search-button {
  border: hidden;
  opacity: 3;
  color: black;
  background-color: transparent;

  outline: none;
  appearance: none;
}

.services-box {
  max-width: 330px;
  padding: 0px 4px 0px;
  margin: 9px 0 0;
}

/* màn lớn */
@media (min-width: 1024px) {
  .my-input-form {
    display: block;
    border-bottom: 1px solid black;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 0px;
    filter: opacity (0.8);
    height: 36px;
    width: 160px;
    margin-right: 2px;
    border-radius: 0%;
  }

  .breadcrumb {
  padding-left:50px
}

.my-input-form3:focus{
  border: 1px solid black;
  box-shadow: none;
}

.nav-link {
    color: black;
  }
   .arrow-up {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    /* margin-top:10px; */
    margin-left: 30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
  
  }
  .my-input-form:focus {
    border: 1px solid #ccc;

    filter: opacity (1.5);
    box-shadow: none;
    border-bottom: 1px solid black;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .navbar-small {
    display: flex;
    padding-left: 40px;
    padding-right: 0px;
    justify-content: unset;
    /* margin-bottom: 10px; */
  }

  .nav-underline .nav-link:focus,
  .nav-underline .nav-link:hover {
    border-bottom: 8px solid #900;
    padding-bottom: 0px;
  }
  
  /* backtotop */
  #scrollToTopBtn {
    display: none; /* Mặc định ẩn nút */
    position: fixed; /* Vị trí cố định */
    bottom: 100px; /* Khoảng cách từ nút đến bottom */
    right: 20px; /* Khoảng cách từ nút đến right */
    width: 40px; /* Chiều rộng của nút */
    height: 40px; /* Chiều cao của nút */
    background-color: #f2f3f5; /* Màu nền của nút */
    color: #292929; /* Màu chữ của nút */
    border: none; /* Không có viền */
    border-radius: 50%; /* Bo góc tròn */
    font-size: 20px; /* Kích thước chữ */
    text-align: center; /* Căn giữa nội dung */
    justify-content: center;
    cursor: pointer; /* Chỉ tay khi di chuột vào */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }


   .navbar-toggler2 {
  position: fixed;
  top: 10px;
  right: 10px;
}
  .right-component {
    justify-content: end;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
padding-right: 30px;
  }
 .section-header {
    align-items: center;
  }
.off-shut {
display: none;
}
  .nav-component {
    margin:0px;
  }
  .two-part {
    position: relative;
    display: flex;

  }
  

  .navbar-items{
    justify-content: center;
  }


  .my-input-form {
    justify-content: end;
    display: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    padding-bottom: 0px;
    padding-top: 0px;
    filter: opacity (0.8);
    height: 40px;
    margin-right: 2px;
    border-radius: 0%;
  }

  
 
  .navbar-part {
    display: flex;

    justify-content: center;
    /* margin-left: 100px; */
    margin-top: 10px;
    padding-left: 30px;
    /* margin-right: 40px */
  }


 .search-menu {
      border: none;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3px;

    padding: 0px;

    filter: opacity(0.8);
  }
  .user {
    border: none;
/* opacity: 0.8; */
    justify-content: center;
    align-items: center;
margin-top: 2px;
    width: 36px;
    height: 36px;
    border-bottom: 2px solid white;

    padding: 0px;
    /* border-bottom: 2px solid #600; */

    filter: opacity(0.8);
  }
  .cart {
    padding-left: 0px;
    padding: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

/* opacity: 0.8; */
    width: 36px;
    height: 36px;
    border-radius: 0%;

    margin-left: 0px;
    background-color: transparent;
    border-bottom: 2px solid white;

    filter: opacity(0.8);
  }
  .user:hover {
    /* border: 1px solid #ccc; */
    border-top: none;
    border-right: none;

    border-left: none;

    filter: opacity(1.5);
    box-shadow: none;
    /* border-bottom: 2px solid white; */
  }



  .cart:hover {
    filter: opacity(1.5);
    box-shadow: none;
    /* border-bottom: 2px solid white; */
  }

  .search-form {
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* màn ipad */
@media (min-width: 768px) and (max-width: 1023px) {
  .card-title {
    font-size: 16px;
  }

  .card-footer {
    padding-left: 25px;
    padding-right: 10px;
  }
  .navbar-small {
    margin-bottom: 4px;
    /* margin-left: px; */
    /* margin-right:20px; */
    padding-left: 0;
  }
  .modal-user-image {
    justify-content: center;
    align-items: center;
  }
.product-description{
    min-height: 80vh;
  }
  .search-form {
    display: none;
    width: 46px;
    height: 42px;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;

    border: 1px solid #888;

    filter: opacity(0.8);
  }
  .search-form:hover {
    box-shadow: 1px #999;
    filter: opacity(1.5);
  }


.search-menu{
  display: none;
}
  
  .btn.off-shut:focus{
  box-shadow: none;
}
 
  .navbar-part {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
  }

.off-shut {
  display: block;
  margin-left: 285px;
  position: fixed;
}
 .inside {
    display: flex;
    padding-bottom: 10px;
    padding-right: 6px;
  }
  .icon {
    padding-bottom: 10px;
  }

   .section-header {
    flex-direction: column;
    position: relative;
    display: flex;
  }
  .right-component {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    order: 2;
  }
 .breadcrumb {
  padding-left:20px
}
  .two-part {
    display: flex;
    justify-content: end;
    position: relative;
    margin-bottom: 18px;
    margin-top:18px;

    order: 1;
  }

  
  .search-bar {
    order: 2;
  }

  .nav-component {
    /* margin-bottom: 10px; */
    /* position: absolute;
    margin-bottom: 100px; */
    order: 1;
    /* margin-bottom: 39px; */
    position: absolute;

  }

   .my-input-form {
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 0%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #ececec;
    outline: none;
    background-color: #f5f5f5;
    height: 40px;
    padding-bottom: 0px;
    /* padding-left: 12px; */
    padding-top: 0px;
    filter: opacity (0.8);
  }
  .navbar-toggler {
    /* margin-bottom: 130px; */
    border: none;
    /* margin-right: px; */
    position: relative;
    padding-top: 22px;

  }


  .navbar-items {
    padding: 20px;
   
  }
  .navbar-small {
  margin-bottom: 0;
  padding-right: 0px;
}
  .user {
    border: none;

    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    border-bottom: 2px solid white;

    padding: 0px;
    /* border-bottom: 2px solid #600; */

    filter: opacity(0.8);
  }
   .cart {
    padding-left: 0px;
    padding: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

    width: 36px;
    height: 36px;
    border-radius: 0%;

    margin-left: 0px;
    background-color: transparent;
    border-bottom: 2px solid white;

    filter: opacity(0.8);
  }
  .my-input-form:focus {
    

    border: 1px solid black;
    background-color: white;
    filter: opacity (1.5);
    box-shadow: none;
  }

  .navbar-toggler:focus {
    border: none;

    filter: opacity (1.5);
    box-shadow: none;
  }

  

  .navbar-toggler:hover {
    filter: opacity (1.5);
    box-shadow: none;
  }

  .navbar-toggler:hover {
    filter: opacity (1.5);
    box-shadow: none;
    border:none;
  }
  .two-left {
    display: block;
    margin-left: 605px;
    position: absolute;
    margin-bottom: 74px;
  }

  .nav-link {
    color: black;
  }

  /* backtotop */
  #scrollToTopBtn {
    display: none; /* Mặc định ẩn nút */
    position: fixed; /* Vị trí cố định */
    bottom: 130px; /* Khoảng cách từ nút đến bottom */
    right: 20px; /* Khoảng cách từ nút đến right */
    width: 40px; /* Chiều rộng của nút */
    height: 40px; /* Chiều cao của nút */
    background-color: #f2f3f5; /* Màu nền của nút */
    color: #292929; /* Màu chữ của nút */
    border: none; /* Không có viền */
    border-radius: 50%; /* Bo góc tròn */
    font-size: 20px; /* Kích thước chữ */
    text-align: center; /* Căn giữa nội dung */
    justify-content: center;
    cursor: pointer; /* Chỉ tay khi di chuột vào */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  .card-footer {
    padding-left: 25px;
    padding-right: 10px;
  }

  .image-parent {
    margin-bottom: 40px;
  }
  .Right-object {
    order: 2;
    float: left;
    position: absolute;
    margin-left: 380px;
    padding-bottom: 8px;
  }

 
  .user:hover {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;

    border-left: none;

    filter: opacity(1.5);
    box-shadow: none;
    border-bottom: 2px solid white;
  }

  
  .cart:hover {
    filter: opacity(1.5);
    box-shadow: none;
    border-bottom: 2px solid white;
  }

  .search-button {
    padding-right: 0px;
  }
 
}
/* màn nhỏ */
@media (max-width: 767px) {
  .slider-inside .slider-group > div {
    display: none;
  }
  .card-title {
    font-size: 16px;
  }
  .section-header {
    width: 100%;
    height: 100%;
  }
  .card-footer {
    padding-left: 25px;
    padding-right: 10px;
  }
  .two-left {
    display: block;

    position: absolute;
    margin-left: 370px;
    margin-bottom: 50px;
  }
  .product-description{
    min-height: 100vh;
  }
 .image-parent {
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #eee;
    /* padding-bottom: 10px; */

  }
  .breadcrumb {
  padding-left:20px
}

  .card .img-wrapper {
    height: 30em;
  }
  .navbar-small {
    margin-bottom: 10px;
  }

  .modal-user-image {
    justify-content: center;
    align-items: center;
  }
  .search-form {
    display: none;
    width: 46px;
    height: 42px;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 2px;

    border: 1px solid #888;

    filter: opacity(0.8);
  }
  .search-form:hover {
    box-shadow: 1px #999;
    filter: opacity(1.5);
  }


 .search-menu{
  display: none;
}
  
.btn.off-shut:focus{
  box-shadow: none;
}
.off-shut {
  display: block;
  margin-left: 285px;
}
  .navbar-part {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
  }

.offcanvas.offcanvas-start {
  width: 340px;
}
  .icon {
    padding-bottom: 10px;
  }
  .section-header {
    flex-direction: column;
    position: relative;
    display: flex;
  }
  .right-component {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .two-part {
    display: flex;
    justify-content: end;
    position: relative;
    margin-bottom: 18px;
    margin-top:18px;

    order: 1;
  }

  .inside {
    display: flex;
    padding-bottom: 10px;
    padding-right: 6px;
  }
  .search-bar {
    order: 2;
  }

  .nav-component {
    /* margin-bottom: 10px; */
    /* position: absolute;
    margin-bottom: 100px; */
    order: 1;
    /* margin-bottom: 39px; */
    position: absolute;

  }

   .my-input-form {
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 0%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #ececec;
    outline: none;
    background-color: #f5f5f5;
    height: 40px;
    padding-bottom: 0px;
    /* padding-left: 12px; */
    padding-top: 0px;
    filter: opacity (0.8);
  }
  .navbar-toggler {
    /* margin-bottom: 130px; */
    border: none;
    /* margin-right: px; */
    position: relative;
    padding-top: 22px;

  }
.navbar-items {
    padding: 20px;
    /* justify-content: center; */
  }
 
  .my-input-form:focus {
    border: 1px solid black;
    background-color: white;
    filter: opacity (1.5);
    box-shadow: none;
  }

  .navbar-toggler:focus {
    border: none;

    filter: opacity (1.5);
    box-shadow: none;
  }
  .user {
    border: none;
opacity: 0.8;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    border-bottom: 2px solid white;

    padding: 0px;
    /* border-bottom: 2px solid #600; */

    filter: opacity(0.8);
  }
  .cart {
    padding-left: 0px;
    padding: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
opacity: 0.8;

    width: 36px;
    height: 36px;
    border-radius: 0%;

    margin-left: 0px;
    background-color: transparent;
    border-bottom: 2px solid white;

    filter: opacity(0.8);
  }


  .navbar-toggler:hover {
    filter: opacity (1.5);
    box-shadow: none;
  }

  .nav-link {
    color: black;
  }

  .slider-inside .slider-group > div:first-child {
    display: block;
  }

  /* backtotop */
  #scrollToTopBtn {
    display: none; /* Mặc định ẩn nút */
    position: fixed; /* Vị trí cố định */
    bottom: 130px; /* Khoảng cách từ nút đến bottom */
    right: 20px; /* Khoảng cách từ nút đến right */
    width: 40px; /* Chiều rộng của nút */
    height: 40px; /* Chiều cao của nút */
    background-color: #f2f3f5; /* Màu nền của nút */
    color: #999; /* Màu chữ của nút */
    border: none; /* Không có viền */
    border-radius: 50%; /* Bo góc tròn */
    font-size: 20px; /* Kích thước chữ */
    text-align: center; /* Căn giữa nội dung */
    justify-content: center;
    cursor: pointer; /* Chỉ tay khi di chuột vào */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    /* opacity: (0.8); */
  }
  .card-footer {
    padding-left: 25px;
    padding-right: 10px;
  }

  .image-parent {
    margin-bottom: 40px;
  }
  .Right-object {
    order: 2;
    float: left;
    position: absolute;
    margin-left: 380px;
    padding-bottom: 8px;
  }

  
  .user:hover {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;

    border-left: none;

    filter: opacity(1.5);
    box-shadow: none;
    border-bottom: 2px solid white;
  }

  
  .cart:hover {
    filter: opacity(1.5);
    box-shadow: none;
    border-bottom: 2px solid white;
  }
  .search-button {
    padding-right: 0px;
  }
}

#scrollToTopBtn:hover {
  background-color: #bfbfbf; /* Màu nền của nút khi hover */
}
/* modal đăng nhập */

.modal.fade .modal-dialog {
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal.fade.show .modal-dialog {
  transform: scale(1);
}

.footer-section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  width: 1200px;
  border-top: none;
}

/* backtotop */
#scrollToTopBtn {
  display: none; /* Mặc định ẩn nút */
  position: fixed; /* Vị trí cố định */
  bottom: 100px; /* Khoảng cách từ nút đến bottom */
  right: 20px; /* Khoảng cách từ nút đến right */
  width: 40px; /* Chiều rộng của nút */
  height: 40px; /* Chiều cao của nút */
  background-color: #f2f3f5; /* Màu nền của nút */
  color: #292929; /* Màu chữ của nút */
  border: none; /* Không có viền */
  border-radius: 50%; /* Bo góc tròn */
  font-size: 20px; /* Kích thước chữ */
  text-align: center; /* Căn giữa nội dung */
  justify-content: center;
  cursor: pointer; /* Chỉ tay khi di chuột vào */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.breadcrumb {
  background-color: #eeee;
  border: 1px solid #eeee;
  height: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}



.breadcrumb-item {
  font-size: 14px;
}
.brand-button:focus {
  background-color: white;
  outline: none;
  border: none;
}

.card-title {
  font-size: 16px;
}

h3 {
  color: black;

  font-family: "Oswald";

  font-weight: 500;
  line-height: 30px;
}
