.card-news {
  display: flex;
  flex-wrap: wrap;

}

/* màn nhỏ */
@media (max-width: 767px) {
  .img-news {
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;

  }

  .right-side{
    padding-left:20px;
    margin-bottom: 20px;
  }
}


/* màn ipad */
@media(min-width:768px) and (max-width:1023px){
  
.right-side{
    padding-left:20px;
    margin-bottom: 10px;
  }

}
/* màn lớn */
@media (min-width: 1024px) {
  
  .right-side{
    padding-left: 30px;
    padding-top: 10px;
    background-color: white;
    margin-bottom: 0px;
  }
}

.right-side{
  border-bottom:1px solid #ddd;
    margin-bottom: 0px;

}
